.react-flow__controls-zoomout {
	display:none;
}

.react-flow__controls-zoomin {
	display:none;
}

.floatingedges {
	flex-direction: column;
	display: flex;
	flex-grow: 1;
	height: 100%;
  }
  
  .floatingedges .react-flow__handle {
	opacity: 0;
  }
  
  .react-flow__node.circle {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
  }
  
  
